@font-face {
  font-family: 'PaswordFont';
  src:  url('/fonts/PasswordFont.ttf') format('truetype');
}

.library-search-area {
  .search-area--dropdown {
    margin: 0;
  }
  .search-area--dropdown {
    position: relative;
  }
}

.library--hide-loanerid {
  margin-top: 0.5em;
  text-align: right;
}

.library--form-area--hide-value-mobile {
  input {
    font-size: 16pt;
    font-family: 'PaswordFont';
  }
}
