@import 'tools';

.container {
  @include container;
}

.profile-image-upload {
  background: linear-gradient(180deg, #d784e7 70%, $white 30%);
  padding-top: 25px;
}

.profile-form--label {
  font-family: $body-font;
  font-size: 22pt;
  font-weight: 600;
}

.padded-area {
  padding: 10px;

  .description--form-area, .display-name--form-area {
    input, textarea {
      background-color: #f2f2f2;
      border: #d5d4e6 solid 1px;
      font-size: 15pt;
      font-weight: 400;
      font-family: $body-font;
      width: 99%;
    }

    input.error {
      border-color: red;
    }

    textarea {
      box-sizing: border-box;
      min-height: 50px;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
    }

    label {
      p {
        margin-bottom: 0;
      }

      width: 100%;
    }
  }
}

.progressbar--message {
  margin: 10px auto;
  text-align: center;
}

.progressbar-container {
  margin: 10px auto;
}
