@font-face {
  font-family: 'PaswordFont';
  src:  url('/fonts/PasswordFont.ttf') format('truetype');
}

.library-search-area {
  .search-area--dropdown {
    margin: 0;
  }
  .search-area--dropdown {
    position: relative;
  }
}

.library--hide-loanerid {
  margin-top: 0.5em;
  text-align: left;
}

.library--hide-loanerid--label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.library--form-area {
  text-align: left;
  label {
    p {
      text-align: left;
    }
  }
}

.library--form-area--hide-value-mobile {
  input {
    font-size: 16pt;
    font-family: 'PaswordFont';
  }
}

.selected-library-description h1{
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.05rem;
}