@import '../settings/breakpoints';

@mixin scroller($element-size) {
  height: auto;
  -webkit-overflow-scrolling: touch;
  @include max-screen($tablet) {
    flex-wrap: nowrap;
    overflow-x: scroll;
    & > *:not(span) {
      flex: 0 0 $element-size;
      height: auto;
    }
  }
}


@mixin content-grid($base-size: 180px) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px;
  margin-left: -1em;
  padding: 0px;
  list-style-type: none;

  & > *:not(span) {
    display: block;
    box-sizing: border-box;
    margin-bottom: 1em;
    flex: 1 $base-size;
    padding-left: 1em;
  }
}


%content-grid {
  @include content-grid(300px);
}

%scroller {
  @include scroller(75%);
}
