@mixin errorbox($svg: '/group.svg', $color: $carnation) {
  background: $color;
  background-image: url($svg);
  background-repeat: no-repeat;
  padding-right: 10%;
  padding-bottom: 10vh;

  @include min-screen($tablet) {
    background-position: 15% 100px;
    -webkit-background-size: 15vw;
    background-size: 150px;
    min-height: 40vh;
    margin: 0px;
    padding-top: 50px;
    padding-left: 40%;
  }

  @include max-screen($tablet - 1px) {
    background-position: 2em 2em;
    -webkit-background-size: 10vw;
    background-size: 100px;
    padding-top: 130px;
    padding-left: 10%;
  }

  h1, p, a{
    color: white;
  }

  h1 {
    @extend %fredoka-header;
  }

  a {
    text-decoration: underline;
  }
}
