@mixin notification-count() {
  font-size: 0.7em;
  text-align: center;
  color: white;
  background-color: #ff5a5f;
  border-radius: 25%;
  box-shadow: 0 0 3px 1px #ff5a5f;
  position: absolute;
  top: -5px;
  right: -5px;
  min-width: 15px;
  min-height: 15px;
  padding: 2px 2px 2px 4px;
}
