$border-color: #c9c9c9;
$tab-bg-color-active: #ffffff;
$tab-bg-color-inactive: #4e58ff;

.tabs-container {
  width: 100%;
  display: block;

  ul.tabs {
    list-style-type: none;
    height: auto;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 10px 0;
      margin: 0 10px;
    }

    .tab {
      background-color: $tab-bg-color-inactive;
      border: $border-color solid 1px;
      height: 100%;
      a {
        color: white;
      }

      &.active {
        border: $border-color solid 1px;
        border-bottom-color: white;
        background-color: $tab-bg-color-active;
        a {
          color: $tab-bg-color-inactive;
        }
      }

      a {
        padding: 10px;
      }
    }

  }
}

.tabs--content {
  min-height: 100px;
  border-top: $border-color solid 1px;
  margin-top: -1px;
}
