@import 'tools';

.content-grid--wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.content-grid--element {
  box-sizing: border-box;

  padding: 0 0 1em 1em;
  &:first-child{
    padding-left: 0;
  }

  width: 33%;
  &:nth-child(3+1) {
    padding-left: 0;
  }

  @include max-screen($tablet) {
    width: 50%;
    &:nth-child(2+1) {
      padding-left: 0;
    }
  }

  @include max-screen($phone) {
    width: 100%;
    padding-left: 0;
  }


  a {
    color: $black;
  }

  h3 {
    font-size: 1rem;
    margin: 0px;
  }

  p {
    margin-top: 0.25em;
    font-size: 0.8rem;
  }

  .image {
    position: relative;
    height: 0;
    margin-bottom: 0.88889rem;
    overflow: hidden;
    padding-bottom: 100%;
  }
  .wide {
    padding-bottom: 56.34%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
