@import 'tools';

.content-grid--wrapper {
  @extend %content-grid;
}

.content-grid--element {
  a {
    color: $black;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  p {
    margin-top: 0.25em;
    font-size: 0.8rem;
  }

  .image {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
  }
  .wide {
    padding-bottom: 56.34%;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a:hover h3{
    text-decoration: underline;
  }
}
