@import 'tools';

.content-grid--wrapper {
  @extend %content-grid;
}

.content-grid--element {
  a {
    color: $black;
  }

  h3 {
    font-size: 1rem;
    margin: 0;
  }

  p {
    margin-top: 0.25em;
    font-size: 0.9rem;
  }

  .image {
    @extend %square;
  }
  .wide {
    padding-bottom: 56.34%;
  }

  a:hover h3{
    text-decoration: underline;
  }
}
