@import "tools";
@import "settings";

.footer--container {
  margin-top: 15px;
  width: 100%;
  background-color: #000;
  position: relative;
}

.footer--coloumns-container {
  @include clearfix;

  ul {
    list-style: none;
  }

  a:hover {
    color: lighten(#938EE9, 10%);

    h2 {
      color: lighten(#938EE9, 10%);
    }
  }
}

.footer--left-coloumn {
  @include span(6 of 12);
}

.footer--right-coloumn {
  @include span(5 of 12);

  a {
    color: white;
  }
}

.footer--bottom {
  bottom: 0;
  left: 0;
  right: 0;

  .footer--bottom-image {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.footer--copyright-container {
  @include clearfix;
  padding: 15px;
}

.footer--copyright-text {
  display: block;
  text-align: center;
  font-size: 9pt;
  color: white;
}
