# ============
# LOGS / REPORTS
# ============
*.log
*.log.gz
report.xml
output
test-results.xml
coverage/*
dump.rdb
selenium/**/*.png
.sonar/

# ============
# BUILDS
# ============
public/*

# ============
# NODE_MODULES
# ============
node_modules

# ============
# TESTS
# ============
feature_report.xml

# ============
# IDEA
# ============
.idea
*.iml

# ============
# CONFIG
# ============
newrelic.config.js
config.js
.env
mmj.env

NODE_ENV_DOCKERFILE
