@import 'tools';
@import 'settings';

.content-add {
  margin-bottom: 20px;
  textarea {
    overflow: hidden;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    min-height: 100px;
    outline: none;
    &::placeholder {
      color: $dark;
    }
    &:focus::placeholder {
      color: $gray;
    }
  }
}

.content-input-wrapper {
  background-color: white;
  padding: 5px 20px;
  border: #ccc 1px solid;
}

.content-add--preview-image {
  position: relative;
  display: inline-block;
  img {
    max-width: 100px;
    max-height: 100px;
  }

  svg {
    fill: white;
  }
  a {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.upload-content-media {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.content-add--actions {
  margin-top: 10px;
  .button {
    float: right;
    &.submit {
      @include button($melrose);
    }
    &.alert {
      @include button($carnation);
      margin-right: 10px;
    }
  }
}

.preview-video--name {
  font-size: 14px;
}

progress[value] {
  width: 100%;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  &::-moz-progress-bar {
    background-color: #6085c5;
  }

  &::-webkit-progress-value {
    background-color: #6085c5;
    //background-color: #5FC55F;
  }

  &.done {
    &::-moz-progress-bar {
      background-color: #5FC55F;
    }

    &::-webkit-progress-value {
      background-color: #5FC55F;
    }
  }

  &.error {
    &::-moz-progress-bar {
      background-color: #c52f3e;
    }

    &::-webkit-progress-value {
      background-color: #c52f3e;
    }
  }
}

.content-add--media {
  label {
    @include button($athens-gray, $melrose, false);
    border: 1px solid #ccc;
  }
  svg {
    padding-right: 10px;
    position: relative;
    display: inline-block;
    top: 2px;
  }
}

.content-add--media-label {
  @include max-screen($desktop - 1px) {
    display: none;
  }
}

.content-add--messages {
  opacity: 0;
  @include single-transition(opacity, 500ms, null, null);
  &.fadein {
    opacity: 1;
  }
}

// Shakeit
.shakeit {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
