@import "tools";

.editorially-selected-reviews-widget-container {
  @include content-grid(370px);
  @include scroller(90%);
  .editorially-selected-reviews-widget--spinner-container {
    display: block;
    margin: auto;
    padding-top: 50px;
  }
}

.editorial-reviews--review-container {
  @include min-screen(760px) {
    max-width: 50%;
  }
}

.editorial-reviews--review {
  padding: 1em;
  background-color: $white;
  width: 100%;
  height: 265px;
  box-shadow: $gray 0 5px 10px;
  display: flex;
  position: relative;

}

.editorial-reviews--review--profile-image {
  @extend %widget-profileimage;
}


.editorial-reviews--review--left {
  position: relative;
  width: 33%;
  max-width: 180px;
  flex-shrink: 0;
  margin-right: 1em;
}

.editorial-reviews--review--right {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  .main-content {
    flex-grow: 1;
  }
}

.editorial-reviews--review--cover-image {
  text-align: center;
  img {
    object-fit: cover;
    max-width: 100%;
    max-height: calc(265px - 2em);
  }
}

.editorial-reviews--review--profile-display-name--container {
  display: block;
  font-size: 10pt;
  padding-top: 2px;

  .twemoji {
    width: 15px;
  }
}

.editorial-reviews--review--work-title {
  display: none;
}

.editorial-reviews--review--content {
  @include line-clamp(5);
  @extend %quote;
}

.editorial-reviews--read-button {
  text-align: center;
  @include max-screen($phone) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1em;
  }
  a {
    @include button($melrose, $white);
  }

}

.editorially-selected-reviews-widget--show-more-button {
  margin-top: 1em;
  text-align: center;
  a {
    @include more-button();
  }
}
