@import "tools";

.profile-library-edit--container {
  @include min-screen($desktop) {
    width: 630px;
  }

  width: 80vw;
  border: 2px #c2c2c2 solid;
  margin: 30px auto;
  padding: 20px;

  .profile-library-edit--profile-image-container {
    text-align: center;
  }

  .profile-library-edit--profile-image {
    object-fit: cover;
    border-radius: 50%;
    width: 130px;
    height: 130px;
  }

  input {
    margin: 5px;
  }
}
