@import "tools";

.rounded-button-submit {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #2acc94;
  color: white;
  border-style: none;
  transition: all 0.2s ease;
}

.rounded-button-submit:hover {
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: solid;
  border-color: #2acc94;
  background-color: #62edc6;
}

.rounded-button-submit.disabled {
  background-color: $gray;

  &:hover {
    border-color: $gray;
  }
}
