@import 'tools';

.best-rated-works--widget {
  .pages--container {
    @extend %content-grid;
    & > * {
      max-width: 180px;
    }

    @include min-screen($tablet) {
      margin-bottom: 2em;
      overflow: hidden;
    }
    @extend %scroller;
  }
}
