@import 'tools';

.best-rated-works--widget {
  .pages--container {
    @extend %content-grid;
    & > * {
      max-width: 180px;
      max-height: 280px;
    }

    @include min-screen($tablet) {
      margin-bottom: 2em;
    }
    @include scroller(180px);
  
  }
  .pagination-controls--spinner{
    @include max-screen($tablet) {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 140px;
      left: 0;
    }
}

}
