@import 'tools';

.compact-works--container {
  @include content-grid(180px);
  & > * {
    max-width: 180px;
  }
  overflow: hidden;
  @include scroller(250px);

  &.closed {
    @include min-screen($tablet) {
      height: 250px;
      margin-bottom: 2em;
    }
  }
  .compact-works--spinner-container {
    text-align: center;
    margin-top: 50px;
  }

}
