@import 'tools';

.compact-works--container {
  @include content-grid(150px);
  & > * {
    max-width: 180px;
  }
  overflow: hidden;
  @include scroller(75%);
  &.closed {
    height: 250px;
    margin-bottom: 2em;
  }


  .compact-works--spinner-container {
    text-align: center;
    margin-top: 50px;
  }

}
