@import "tools";
@import "settings";

.p-detail--image-container {
  background: linear-gradient(180deg, #d784e7 70%, #ffffff 30%);
  padding-top: 100px;

  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.p-detail--displayname-description-follow {
  align-content: center;
  text-align: center;

  p {
    margin: 5px;
    font-family: $body-font;
    font-weight: 600;
  }
}

.p-detail--displayname {
  font-size: 16pt;
  display: inline;
}

.p-detail--edit-button {
  display: inline-block;
  .icon {
    pointer-events: none;
  }
}

.p-detail--groups-button--container, .p-detail--flag-button--container {
  display: inline-block;
  border: #f2f2f2 solid 2px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;

  p {
    margin-top: 0;
    padding-top: 0;
  }
}

.p-detail--groups-button--container:hover, .p-detail--flag-button--container:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.p-detail--report-container {
  margin: 10px;
  margin-bottom: 0;

  .p-detail--report-anchor {
    display: inline-flex;
    border: #f2f2f2 solid 2px;
    border-radius: 5px;
    padding: 8px 15px;
  }

  .p-detail--report-anchor:hover {
    background-color: #f2f2f2;
  }
}

.groups-modal--container {
  @include clearfix;
}

.user-feed--groups-modal--group-image {
  object-fit: cover;
  width: 30vw;
  height: 30vw;
  @include min-screen($tablet + 1) {
    width: 10vw;
    height: 10vw;
  }
}


.user-feed--groups-modal--group-name {
  overflow: hidden;
  line-height: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-feed--groups-modal-group-info--container {
}

.user-feed--groups-modal--group {
  padding-top: 10px;
  @include max-screen($tablet) {
    @include gallery(6 of 12);
  }
  @include min-screen($tablet + 1) {
    @include gallery(4 of 12);
  }
  .follow {
    padding: 8px 20px;
  }
}
