@import 'tools';

.group-edit--header {
  text-align: center;
  font-family: $body-font;
  font-size: 32pt;
  font-weight: 600;
}

.group-moderation {
  padding: 0 2em 2em;
  @include max-screen($tablet - 1px) {
    padding: 0 1em 1em;
  }
}
.group-moderation--text {
  margin-bottom: 0px;
}

.group-moderation--title {
  font-size: 1.11em;
  color: $gray;
  margin-bottom: 2em;
}

.group-moderation--image {
  text-align: center;
  img {
    @extend %coverimage;
  }
}

.group-moderation--cancel {
  @include button($melrose);
  position: absolute;
}

.group-moderation--done--button {
  @include button($melrose);
  display: block;
}

.group-moderation--confirm {
  @include button($carnation);
  display: block;
  margin-left: 140px;
  text-align: center;
  @include max-screen($tablet - 1px) {
    margin-left: 110px;
  }
}

.group-moderation--done {
  text-align: center;
}

.group-form--moderation {
  a {
    margin-left: 1em;
  }
}
