@import 'tools';

.tag-list {
  display: inline-block;
  padding-left: 10px;

  li {
    display: inline-block;
    a {
      font-family: $header-font;
      font-size: 0.8em;
      color: $governor-bay;
      text-transform: uppercase;
      text-decoration: underline;
    }
    margin-left: 8px;
  }
}
