@import 'tools';

.fullwidth {
  width: 100%;
}

.pagebreak {
  page-break-after: always;
}

.frontpage--campaign-logo {
  margin: auto;
  height: 140px;
  display: block;
}

.review-campaign--frontpage {
  text-align: center;

  h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 45pt;
  }
}

.emoji {
  width: 5px;
}

.frontpage--username > span {
  font-size: 22pt;
  min-width: 200px;
  display: inline-block;

  .emoji {
    width: 15px;
  }
}

.frontpage--username > span, .frontpage--biblo-approves--logo {
  border-bottom: dotted 2px;
}

.frontpage--biblo-approves--logo {
  height: 45px;
  margin-bottom: 10px;
  padding: 55px;

  img {
    height: 45px;
    position: absolute;
    right: 5px;
  }
}

.review-frontpage--person-data {
  margin: auto;
  border-spacing: 15px;
  width: 500px;
  text-align: left;
  margin-bottom: 55px;
  text-overflow: ellipsis;
  font-size: 10pt;

  tr {
    td {
      width: 50px;
    }

    td:nth-child(2), td:nth-child(4) {
      width: 250px;
      border-bottom: dotted 2px;
    }
  }
}

.compact-group-post-element--video-post {
  z-index: 6;
  margin-bottom: 5px;
  position: relative;

  img {
    z-index: 7;
    height: 130px;
    width: 230px;
    object-fit: cover;
    background: url('/video_behandler.png') no-repeat center 0;
    background-size: cover;
  }

  .after {
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 130px;
    color: $white;
    background: url('/images/video_thumbnail_overlay.png') no-repeat center 0;
    background-size: cover;
  }
}

.contribution--post-container, .contribution--reivew-container {
  font-size: 12pt;
  page-break-inside: avoid;
  border-top: solid $light-gray 1px;
  border-bottom: solid $light-gray 1px;

  .emoji {
    width: 5px;
  }

  .post--content {
    margin: 10px;
    padding: 10px;
    background-color: $light-gray;
    border-radius: 10px;
    display: inline-block;
  }

  .review--cover-image {
    display: inline-block;
    max-height: 130px;
    max-width: 280px;
    margin: 10px;
    padding: 10px;

    img {
      max-height: 130px;
      max-width: 280px;
    }
  }
}
