@import 'tools';

.group-result-list {
  list-style: none;

  @include container();

  padding-left: 20px;
  padding-right: 20px;

  li {
    @include min-screen($desktop) {
      @include gallery(1 of 5);
      margin-bottom: gutter(20);
      padding-bottom: 20px;
      .group-result-list--cover-image {
        min-height: 250px;
        position: relative;
        height: auto;
        img {
          position: absolute;
          bottom: 10px;
          width: 100%;
          object-fit: cover;
          box-shadow: #666 0px 2px 12px;
        }
      }
    }

    @include max-screen($desktop - 1) {
      @include gallery(1 of 4);
      margin-bottom: gutter(15);
      padding-bottom: 15px;
      .group-result-list--cover-image {
        min-height: 250px;
        position: relative;
        height: auto;
        img {
          position: absolute;
          bottom: 10px;
          width: 100%;
          object-fit: cover;
          box-shadow: #666 0px 2px 12px;
        }
      }
    }

    @include max-screen($tablet - 1) {
      @include gallery(1 of 3);
      margin-bottom: gutter(15);
      padding-bottom: 15px;
      .group-result-list--cover-image {
        min-height: 250px;
        position: relative;
        height: auto;
        img {
          position: absolute;
          bottom: 10px;
          width: 100%;
          object-fit: cover;
          box-shadow: #666 0px 2px 12px;
        }
      }
    }

    @include max-screen($phone) {
      @include gallery(1 of 2);
      margin-bottom: gutter(10);
      padding-bottom: 10px;
      .group-result-list--cover-image {
        min-height: 250px;
        position: relative;
        height: auto;
        img {
          position: absolute;
          bottom: 10px;
          width: 100%;
          object-fit: cover;
          box-shadow: #666 0px 2px 12px;
        }
      }
    }

    .group-result-list--description {
      overflow: hidden;

      .icon--container {
        padding-right: 5px;
        fill: $turquoise;
      }

      .group-result-list--title {
        margin-left: 24px;
      }
    }
  }
}

.group-result-list--empty-result {
  padding: 50px 10px 50px 10px;
  min-height: 40vh;
  text-align: center;
}
