@import "settings";
@import "extends/font-styles";


html, body {
  -webkit-tap-highlight-color: transparent;
  @extend %body;
}

a {
  text-decoration: none;
  color: $melrose;
}

h2 {
  @extend %fredoka-header;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  display: inline-block;
  @include hover-transition((background: $melrose), 200ms, false);
}
