@import "tools";

.fwbs--buttons {
  display: none;
  position: absolute;
  width: 100%;
  margin-left: -1em;
  padding: 0 1em;

  @include min-screen($desktop) {
    display: block;
  }

  span {
    min-height: 200px;
    max-height: 300px;
    height: 100%;
    color: $white;
    background: rgba(0, 0, 0, 0.3);
    padding: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fwbs--prev {
    float: left;
  }

  .fwbs--next {
    float: right;
  }
}

.fwbs--image {
  .full-width-banner--image {
    transition: all 0.4s ease;
  }
}
