@import 'tools';

.group--sidebar {

  @include min-screen($desktop) {
    @include span(8 last);
  }

  background-color: $light-grayish-cyan;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 5px;
}

.members-box {
  padding: 100px;
  display: block;
}

.members-button {
  clear:both;
}

.member-image {
  @include profileImage(60px);
  border: 5px solid $white;
  margin:15px;
  display: inline-block;
  cursor: pointer;

  &.owner {
    border-color: $carnation;
  }

}
