@import 'tools';

.group--tile {
  .icon {
    fill: currentColor;
  }

  .icon--container {
    padding-right: 5px;
    vertical-align: middle;
  }
  .group--title {
    color: $governor-bay;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .coverimage {
    max-width: 172px;
    max-height: 172px;
    width: 172px;
    height: 172px;
    object-fit: cover;
    box-shadow: #666 0px 2px 12px;
  }

  .twemoji, .emoji {
    max-width: 16px;
    max-height: 16px;
    padding-left: 3px;
    vertical-align: middle;
  }
}

