@import "tools";
@import "settings";

.group--tile {
  position: relative;
  width: 120px;
  max-height: 200px;
  display: inline-block;
  padding-right: 29px;
  padding-bottom: 20px;

  .coverimage {
    object-fit: cover;
    width: 130px;
    height: 130px;
    display: inline-block;
    box-shadow: #666 0px 2px 12px;
  }

  .icon {
    padding-right: 5px;
    fill: $turquoise;
  }

  .group--title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

