@import "tools";
@import "settings";

.background-image {
  background-image: url("http://lorempixel.com/200/200/");
  width: 104%;
  height: 210px;
  top: -10px;
  left: -2%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) grayscale(30%);
  overflow: hidden;
  position: absolute;
  background-position: 50%;
}

.foreground-image {
  width: 200px;
  height: 200px;
  position: relative;
  top: 40px;
  margin: auto;
  display: inline-block;
  box-shadow: #666 0px 2px 10px;
}

.header-image {
  width: 100%;
  position: relative;
  text-align: center;
  height: 250px;
  overflow: hidden;
}

.group--tile {
  position: relative;
  width: 120px;
  max-height: 200px;
  display: inline-block;
  padding-right: 29px;
  padding-bottom: 20px;

  .coverimage {
    width: 130px;
    height: 130px;
    display: inline-block;
    box-shadow: #666 0px 2px 12px;
  }

  .icon {
    padding-right: 5px;
    fill: $turquoise;
  }

  .group--title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.group--caption {
  text-align: left;
}

.group--content {
  @include min-screen($tablet) {
    @include span(8);
  }
}

.group {
  @include clearfix();

  h2 {
    @extend %h2-body;
  }
  h3 {
    @extend %h3-body;
  }

  .group--follow {
    text-align: center;
  }
}


