@import "tools";
@import "settings";

.comment-list {
}

.post-list .post-list {
  @include max-screen($tablet - 1px) {
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 5px;
  }
}

.comment-wrapper {
  @include clearfix();
  @include max-screen($tablet - 1px) {
    padding: 10px;
    border-bottom: 1px solid rgba($dark, 0.15);
    margin-bottom: 0;
  }

  margin-bottom: 20px;

  &:last-of-type {
    border-bottom: none;
  }
}

.comment {
  @include min-screen($tablet) {
    margin-left: 70px;
    position: relative;
    top: 0;
    background: white;
    padding: 20px;
    border-radius: 5px;
  }
  @include max-screen($tablet - 1px) {
    .comment--header {
      margin-left: 75px;
      height: 60px;
      span {
        padding: 0;
        display: block;
      }
    }
  }

  img {
    max-width: 100%;
  }
}

.comment--header {
  .username {
    @extend %h3-body;
  }
  .time {
    color: $gray;
    display: inline-block;
    padding-left: 10px;
  }
}

.comment-profile-image {
  @include profileImage();
  float: left;
}

.comment::before {
  top: 15px;
  bottom: auto;
  left: -15px;
  border-width: 15px 15px 15px 0;
  border-color: transparent white;
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}
