@import 'tools';

.compact-group-post-element {
  background-color: $white;
  display: block;
  padding: 1em;
  height: 210px;
}

.compact-group-post-element--image-post {
  img {
    max-height: 130px;
    max-width: 275px;
  }
}

.widget-element--main {
  height: 160px;
}

.cgp--group-link {
  bottom: 0;
  left: 0;
  position: absolute;

  svg {
    fill: currentColor;
  }
}
