@import 'tools';

.latest-group-posts-widget {
  .pages--container {
    @extend %content-grid;
    & > * {
      max-width: 50%;
    }

    @include min-screen($tablet) {
      margin-bottom: 2em;
      overflow: hidden;
    }
    @extend %scroller;
  }
}
