
@import 'tools';

.more-info {

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 50px;

  h1, h2, h3, h4, h5, h6 {
    font-family: $body-font;
    text-transform: none;
    margin: 0px;
    color: black;
  }
}

.more-info--table {
  td:first-child {
    color:$gray;
    min-width: 150px;
    display: table-row;
  }
}
