@import "tools";

.popular-groups-widget--group-name-container {
  color: #4740b7;

  .icon {
    fill: currentColor;
  }

  span {
    text-overflow: ellipsis;
  }
}

.popular-groups-widget--group-image-container {
  @extend %square;
}

.popular-groups-widget--show-more-button--container {
  text-align: center;
  a {
    @include more-button();
  }
}

.popular-groups-widget {
  .pages--container {
    @include min-screen($tablet) {
      &.closed {
        height: 240px;
        overflow: hidden;
        margin-bottom: 2em;
        & > * {
          min-height: calc(240px - 1em);
        }
      }
    }
    @include content-grid(168px);
    @include scroller(180px);
  }
}
