@import 'tools';

.navbar-mobile-menu {
  @include single-transition(top, 400ms, ease-in-out, null);
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 101;
  top: -500px;
  left: 0;
  overflow: hidden;
  box-shadow: #B5B5B5 0px 1px 2px;


  &.is-active {
    top: 0;
  }
  .inner {
    margin: 80px 40px 80px 40px;
    @include min-screen($tablet) {
      margin: 40px 20px 60px;
    }
  }
  &.profile {
    background-color: $carnation;
    a {
      @extend %fredoka-header;
      color: white;
    }
    @include min-screen($tablet + 1) {
      position: absolute;
      width: auto;
      right: 20px;
      left: inherit;
      &.is-active {
        top: 80px;
      }
    }
  }
  &.menu {
    @include min-screen($tablet + 1) {
      display: none;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
  }
}

.navbar--mobile-main-menu {
  margin-bottom: 3em;
  a {
    @extend %fredoka-header;
  }
}
.navbar--mobile-sub-menu a {
  color: white;
  text-transform: uppercase;
}
