@import 'tools';

.navbar--toggle {
  @include min-screen($tablet + 1) {
    display: none;
  }
  z-index: 102;
  position: absolute;
  vertical-align: text-top;
  padding-top: 12px;
  display: inline-block;
  height: 30px;
  width: 33px;
  cursor: pointer;
  top: 25px;

  span, span:before, span:after {
    border-radius: 1px;
    height: 5px;
    width: 30px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    display: block;
    content: '';
  }

  span:before {
    top: -10px;
  }

  span:after {
    bottom: -10px;
  }

  span, span:before, span:after {
    transition: all 400ms ease-in-out;
  }

  &.is-active {
    top: 25px;
    right: 1em;
    position: fixed;

    span {
      background: rgba(255, 255, 255, 0);
    }
    span:before, #nav-toggle span:after {
    }
    span:before {
      transform-origin: top right;
      transform: rotate(-45deg);
    }
    span:after {
      transform-origin: bottom right;
      transform: rotate(45deg);
    }
  }
}
