.cookie-warning {
  text-align: center;

  img {
    width: 100%;
    padding-top: 25px;
  }

  .rounded-button {
    display: block;
    text-align: center;
  }
}

.cookie-warning--message {
  font-weight: bold;
}
