@import 'tools';

.search-container {
  background-color: $melrose;

  .search-input--container {
    display: block;
    overflow: hidden;
    padding-right: 1px;

    input {
      width: 100%;
      height:49px;
      padding-left: 10px;
    }
  }

  .search-container--search-button {
    float: right;
    padding: 10px 20px 10px 20px;
    background-color: $black;
    .icon {
      position:relative;
      fill: $white;
      top:5px;
    }
  }

  transition-property: height padding;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  height:50px;
  padding: 20px;
}

.search-container--hidden {
  height:0;
  padding: 0;
  overflow: hidden;
}

.search-dropdown--container {
  position: relative;

  @include min-screen($desktop) {
    width: 635px;
  }
}

.searchbox--container {
  @include min-screen($desktop) {
    width: 700px;
  }
}
