@import 'tools';

.search-container {
  background-color: $melrose;
  transition-property: height padding;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  height: 90px;
  padding: 20px;
  @include max-screen($small-phone) {
    height: 66px;
    padding: 8px;
  }

  .search-input--container {
    display: block;
    overflow: hidden;
    padding-right: 1px;

    input {
      width: 100%;
      overflow: hidden;
      height: 50px;
      padding-left: 10px;
    }

    .search-container--clear-searchbox {
      color: #a1b9ed;
      cursor: pointer;
      font: 34px arial, sens-serif;
      margin-left: -30px;
      vertical-align: -5px;
      display: inline;
    }

    .clear-searchbox-hidden {
      display: none;
    }
  }

  .search-container--search-button {
    float: right;
    padding: 10px 20px 10px 20px;
    background-color: $black;
    .icon {
      position: relative;
      fill: $white;
      top: 5px;
    }
  }
}

.search-container--hidden {
  overflow: hidden;
  max-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  .search-container--dropdown-container {
    display: none;
  }
}
