@import "tools";
@import "settings";

.post-list {

}

.post-wrapper {
  @include clearfix();
  margin-bottom: 20px;
  @include max-screen($tablet - 1px) {
    padding: 0 20px;
    border-bottom: 5px solid rgba($dark, 0.15);
  }
}

.post {
  position: relative;

  @include min-screen($tablet) {
    margin-left: 100px;
    top: 0;
    background: #eee;
    padding: 20px;
    border-radius: 5px;
  }
  @include screen($tablet, $desktop) {

    margin-right: 20px;
  }
  @include max-screen($tablet - 1px) {
    padding-bottom: 20px;
    .post--header {
      margin-left: 75px;
      height: 60px;
      span {
        padding: 0;
        display: block;
      }
    }
  }

  p {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  .comment-add-button {
    @include button($melrose);
  }

  .is-hidden {
    display: none;
  }

  .content-input-wrapper {
    border: none;
    border-radius: 5px;
  }
}

.post--header {
  margin-bottom: 20px;
  .username {
    @extend %h3-body;
  }
  .time {
    color: $gray;
    display: inline;
    padding-left: 10px;
  }
  .buttons {
    position: absolute;
    top: 20px;
    right: 15px;
    svg {
      fill: $gray;
    }
    .active svg {
      fill: $melrose;
    }
  }
}

.post--content {
  margin-bottom: 20px;
}

.post-profile-image {
  @include profileImage();
  float: left;
  @include min-screen($tablet) {
    margin-left: 20px;
  }

}

.post::before {
  @include min-screen($tablet) {
    top: 15px;
    bottom: auto;
    left: -15px;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee;
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
  }
}

.post--load-more-comments {
  @include clearfix();
  margin-bottom: 20px;
  margin-left: 70px;
  @include max-screen($tablet - 1) {
    margin-left: 0;
    text-align: center;
  }
  a {
    margin-right: 20px;
  }
}

.post--comment-count {
  color: $gray;
}
