@import "tools";
@import "settings";

.post-list {

}

.post-wrapper {
  @include clearfix();
  margin-bottom: 20px;
}

.post {
  @include min-screen($tablet) {
    margin-left: 100px;
    position: relative;
    top: 0;
    background: #eee;
    padding: 20px;
    border-radius: 5px;
  }
  @include max-screen($tablet - 1px) {
    border-bottom: 1px solid rgba($dark, 0.15);
    padding-bottom: 20px;
    .post--header {
      margin-left: 75px;
      height: 60px;
      span {
        padding: 0;
        display: block;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .comment-add-button {
    @include button($melrose);
  }

  .is-hidden {
    display: none;
  }
}

.post--header {
  .username {
    @extend %h3-body;
  }
  .time {
    color: $gray;
    display: inline;
    padding-left: 10px;
  }
  .buttons {
    display: inline;
    float:right;
  }
}

.post--content {
  margin-bottom: 20px;
}

.post-profile-image {
  @include profileImage();
  float: left;
}

.post::before {
  top: 15px;
  bottom: auto;
  left: -15px;
  border-width: 15px 15px 15px 0;
  border-color: transparent #eee;
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.post--load-more-comments {
  @include clearfix();
  margin-bottom: 20px;
  margin-left: 70px;
  a {
    margin-right: 20px;
  }
}

.post--comment-count {
  color: $gray;
}
