@import "tools";

.full-width-banner--image {
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 300px;
  min-height: 200px;

  h2, p {
    color: $white;
    margin: 0;
    padding: 5px;
  }

  h2 {
    font-family: 'Knewave', cursive;
    font-size: 24pt;
  }

  .full-width-banner--image--text--container {
    @include min-screen($desktop) {
      width: 320px;
      margin: 0 80px;
    }

    text-align: center;
    position: relative;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }
}
