.profile-image--icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  vertical-align: middle;
  cursor: pointer;

  div {
    position: relative;
  }

  img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profile-image--notification-count {
    font-size: 0.7em;
    text-align: center;
    color: white;
    background-color: #ff5a5f;
    border-radius: 25%;
    box-shadow: 0 0 3px 1px #ff5a5f;
    position: absolute;
    top: -5px;
    right: -5px;
    min-width: 15px;
    min-height: 15px;
    padding: 2px;
  }
}
