@import 'settings';
@import 'tools';

@import 'navbar-icons';

.navbar {
  position: relative;
}

.navbar--container {
  height: 80px;
  @include clearfix();
  padding-left: 40px;
  vertical-align: middle;
  @include max-screen($tablet) {
    padding: 20px;
  }
  background-color: $black;
  @include min-screen($tablet + 1) {
    position: relative;
    z-index: 102;
  }
}

.navbar--menu {
  @include span(10);
  @include max-screen(600px) {
    display: none;
  }
  text-align: left;
  vertical-align: middle;
  ul {
    @extend %inline-list;
    position: relative;
    vertical-align: middle;
    padding-top: 22px;
  }
  li {
    &:first-child {
      margin-left: 0;
    }
    margin-left: 20px;
  }
  a {
    @extend %fredoka-header;
    @include hover-transition((color: $melrose));
  }
}

.navbar--icons {
  @include span(2 last);
  padding-top: 20px;
  a {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.navbar--profile {
  display: inline-block;
  width: 42px;
  height: 42px;
  vertical-align: middle;

  div {
    position: relative;
  }

  img {
    width: 42px;
    height: 42px;
  }
}
