@import 'settings';
@import 'tools';

@import 'navbar-icons';

.navbar {
  position: relative;
}

.navbar--container {
  height: 80px;
  @include clearfix();
  vertical-align: middle;
  @include max-screen($tablet) {
    padding: 20px;
  }
  background-color: $black;
  @include min-screen($tablet + 1) {
    position: relative;
    z-index: 102;
    padding: 0 20px;
  }
}

.navbar--menu {
  @include span(6);
  @include max-screen(600px) {
    display: none;
  }
  vertical-align: middle;
  ul {
    @extend %inline-list;
    position: relative;
    vertical-align: middle;
    padding-top: 22px;
  }
  li {
    &:first-child {
      margin-left: 0;
    }
    margin-left: 20px;
  }
  a {
    @extend %fredoka-header;
    @include hover-transition((color: $melrose));
  }
}

.navbar--icons {
  @include span(6 last);
  padding-top: 20px;
  text-align: right;
  a {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.navbar--profile {

}
