@import 'mixins/notification-count';

.profile-image--icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  vertical-align: middle;
  cursor: pointer;

  div {
    position: relative;
  }

  img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profile-image--notification-count {
    @include notification-count();
  }
}
