@import "tools";


.borrow--button {
  @include button($lima, white, false, #73f175);
  padding: 8px 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
}


.modal-window--borrow-container {
  padding: 5px;

  form > h3 {
    text-align: left;
  }

  .modal-window--borrow--types {
    position: relative;
    margin-bottom: 2em;
    label {
      position: relative;
    }
    .description {
      position: absolute;
      right: 4em;
      float: right;
      color: gray;
      text-transform: none;
      font-weight: normal;
      font-size: 1em;
      top: 1em;
      @include max-screen($tablet) {
        display: none;
      }
    }
  }

  .modal-window--collection-item--container > label:hover {
    background-color: #cac8f5;
    color: $white;

    .icon {
      fill: currentColor;
    }
  }

  .modal-window--collection-item--container > label {
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
    display: block;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin: 0;
    color: #2a23a7;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
    text-align: left;

    .icon--container {
      margin-right: 15px;
    }

    .icon {
      fill: currentColor;
      display: inline-block;
      vertical-align: middle;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .modal-window--collection-item--container:first-child > label {
    border-top: 2px solid #e4e4e4;
  }

  .modal-window--collection-item--container:last-child > label {
    border-bottom: 2px solid #e4e4e4;
  }

  .modal-window--collection-item--name {
    vertical-align: baseline;
  }

  input[name=mediaType] {
    display: none;
  }

  input[name=mediaType] + label:after {
    content: " ";
    margin-right: 10px;
    float: right;
    border: 2px solid $white;
    box-shadow: 0 0 0 3px $gray;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
  }

  input[name=mediaType]:checked + label:after {
    background-color: $white;
    box-shadow: 0 0 0 3px $white;
    border: 2px solid $governor-bay;
  }

  input[name=mediaType]:checked + label {
    color: $white;
    background-color: $governor-bay;

    .icon {
      fill: currentColor;
    }
  }

  .modal-window--borrow-submit-button {
    @include button($lima);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .modal-window--message-under-submit-button {
    color: $gray;
  }

  .modal-window--online {
    display: flex;
  }

  .modal-window--message-under-submit-button {
    display: none;
  }


  .modal-window--work-details {
    img {
      width: 80px;
      display: block;
      margin: 0 auto;
    }

    h3 {
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  div > a.rounded-button {
    width: 90%;
    display: block;
    text-align: center;
  }
}
