.modal-window--borrow-container {
  padding: 5px;

  .modal-window--borrow--types {
    padding: 10px 0;
  }

  .modal-window--collection-item--container > label:hover {
    background-color: #cac8f5;
    color: #FFF;
  }

  .modal-window--collection-item--container > label {
    vertical-align: baseline;
    padding: 10px;
    cursor: pointer;
    display: block;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin: 0;
    color: #2a23a7;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
  }

  .modal-window--collection-item--container:first-child > label {
    border-top: 2px solid #e4e4e4;
  }

  .modal-window--collection-item--container:last-child > label {
    border-bottom: 2px solid #e4e4e4;
  }

  .modal-window--collection-item--name {
    vertical-align: baseline;
  }

  input[name=mediaType] {
    display: none;
  }

  input[name=mediaType] + label:after {
    content: " ";
    margin-right: 10px;
    float: right;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 3px #868686;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }

  input[name=mediaType]:checked + label:after {
    background-color: #FFF;
    box-shadow: 0 0 0 3px #FFF;
    border: 2px solid #4740b7;
  }

  input[name=mediaType]:checked + label {
    color: #FFF;
    background-color: #4740b7;
  }

  .modal-window--borrow-submit-button {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #2acc94;
    color: white;
    border-style: none;
  }

  .modal-window--borrow-submit-button:hover {
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-color: #2acc94;
    background-color: #62edc6;
  }

  .modal-window--message-under-submit-button {
    color: #868686 !important;
    font-size: 12pt;
  }

  .modal-window--work-details {
    img {
      width: 150px;
      display: block;
      margin: 0 auto;
    }

    h3 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
