.delete-modal {
  margin: 0 1rem;
  .rounded-button:last-of-type {
    margin-right: 0;
  }
  h1 {
    margin-top: 0;
  }
}

.delete-modal--transfer {
  label {
    margin-left: 1rem;
  }
  h4 {
    margin-left: 32px;
  }
  background-color: $light-gray;
  padding: 1rem;
  margin-bottom: 1rem;
}

.delete-modal--note {
  color: $gray;
  margin-top: 0.5rem;

}

.delete--link{
  margin: 0 0.5rem 0.5rem;
  a {
    color: $carnation;
  }
}

.delete-modal h3 {
  text-align: center;
}

.delete-modal--btn-wrapper {
  text-align: right;
}

.delete-modal--radio {
  display: flex;
}

.delete-modal--radio label {
  position: relative;
  top: -4px;
}
