@import 'tools';

.work {
  @include clearfix();
  padding-bottom: 10px;
}

.work--reviewlist {
  position: relative;
  @include min-screen($desktop) {
    @include span(16);
  }
}

.work--moreinfo {
  @include span(8 last);
  float: left
}
