@import 'tools';

.latest-post--container {
  .pages--container {
    @extend %content-grid;

    & > * {
      max-width: 50%;
    }

    @include min-screen($tablet) {
      margin-bottom: 2em;
    }

    .widget-element--content.quote {
      max-height: 140px;
    }

    @extend %scroller;
  }
}
