.logout-warning {
  text-align: left;
  padding-left: 4vw;
  padding-right: 4vw;
  height: 40vh;

 .icon-container {
    display: block;
    margin: 0  auto;
    height: 14vh;
    width: 14vh;
    border-style: solid;
    border-color: #1c94c4;
    padding: 2vh 2vh 2vh 2vh ;
  }

 .icon {
   height: 10vh;
   width:  10vh;
 }

 .header {
  display: block;
  font-weight: bold;
  padding-top: 4vh;
  padding-bottom: 4vh;
 }

 .message {
   padding-bottom: 4vh;
 }

 .rounded-button {
   display: block;
   text-align: center;
  }
}

