@import 'tools';

$topBarHeight: 50px;

.work-detail {
  .work-detail--top-bar--container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $topBarHeight;
    background-color: $black;
    z-index: 115;
    overflow: hidden;

    .text-container {
      display: inline-block;
      color: $white;
      width: 80vw;
      max-width: 510px;
      text-overflow: ellipsis;
      margin-left: 10px;
      vertical-align: top;

      .title {
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 9pt;
      }
    }

    .work-detail--top-bar--inner {
      margin-top: 10px;
      width: 100vw;
      padding-left: 20px;

      @include min-screen($tablet) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 120px;
        width: 1024px;
      }
    }

    img {
      height: 30px;
      display: inline-block;
    }
  }

  .work-detail--top-bar--container.not-present {
    transform: translate(0, -$topBarHeight);
    transform-origin: top;
    transition: transform 0.26s ease;
  }

  .work-detail--top-bar--container.present {
    transform: translate(0, 0);
    transform-origin: top;
    transition: transform 0.26s ease;
  }

  .work-detail--title-container {
    text-align: center;
  }

  .work-detail--title {
    color: $black;
    margin: 0;
    margin-left: -46px;
    overflow: hidden;
    text-transform: none;
    font-weight: normal;
    display: inline-block;
  }

  .work-detail--title-series {
    font-size: 1.0rem;
    display: block;
    cursor: pointer;
    a {
      color: $gray;
      &:hover {
        color: $dark;
      }
    }
  }

  .work-detail--multi-volume--title {
    margin: -10px 0 5px;
    color: $gray;
    font-weight: 600;
    text-transform: none;
  }

  .work-detail--subheader {
    font-size: 0.8rem;
    display: block;
  }

  @include max-screen($desktop - 1px) {
    margin: 0 15px 0 15px;
  }

}

.work-detail--description {
  margin-top: 15px;
}

.work-detail--worktype-icon {
  fill: $melrose;
  display: inline-block;
  margin-right: 10px;
  vertical-align: sub;
}

.work-detail--main {
  @include min-screen($desktop) {
    position: relative;
    max-width: 70%;
    margin: auto;
  }
}

.work-detail--secondary {
  @include min-screen($desktop) {
    @include span(8 last);
  }
}

.work-detail--large-cover {

  @include max-screen($desktop - 1px) {
    display: none;
  }
  text-align: center;
  img {
    box-shadow: 5px 5px 10px darkgray;
    width: 190px;
  }
}

.work-detail--material-types {

  @include min-screen($desktop) {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 20px;
    display: inline-block;
    li {
      display: inline-block;
    }
  }

  @include max-screen($desktop - 1px) {
    display: none;
  }
}

.work-detail--show-more-button {
  @include button($white);
  font-family: $header-font;
  text-transform: uppercase;
  color: $melrose;

  .icon {
    fill: $melrose;
    margin-left: 0px;
    margin-right: 5px;
  }
}

.work-detail--action-buttons {
  margin-top: 1em;
  margin-left: -1em;
  text-align: center;
}

.work-detail--button-wrapper {
  width: 50%;
  padding-left: 1em;
  padding-bottom: 1em;
  display: inline-block;
  @include max-screen(500px) {
    width: 100%;
  }
  @include screen($desktop, 900px){
    width: 100%;
  }
  .at-icon {
    position: relative;
    top: -2px;
    margin-right: 10px;
  }
  .button-text {
    display: inline-block;
    text-align: left;
  }
}
