@import 'tools';

.work-detail {

  .work-detail--title {
    color: $black;
    margin: 0;
    overflow: hidden;
    text-transform: none;
    font-weight: normal;
  }

  .work-detail--title-series {
    font-size: 1.0rem;
    display: block;
    cursor: pointer;
    a {
      color: $gray;
      &:hover {
        color: $dark;
      }
    }
  }

  .work-detail--subheader {
    font-size: 0.8rem;
  }

  @include max-screen($desktop - 1px) {
    margin: 0px 15px 0px 15px;
  }

}

.work-detail--description {
  margin-top: 15px;
}

.work-detail--worktype-icon {
  position: absolute;
  fill: $melrose;

  @include min-screen($desktop) {
    top: 5px;
    left: -60px;
  }

  @include max-screen($desktop - 1px) {
    top: -40px;
    left: 0px;
  }
}

.work-detail--main {
  @include min-screen($desktop) {
    position: relative;
    left: 100px;
    max-width: 50%;
    @include span(16);
  }
}

.work-detail--secondary {
  @include min-screen($desktop) {
    @include span(8 last);
  }
}

.work-detail--large-cover {

  @include max-screen($desktop - 1px) {
    display: none;
  }
  text-align: center;
  img {
    box-shadow: 5px 5px 10px darkgray;
    width: 190px;
  }
}

.work-detail--material-types {

  @include min-screen($desktop) {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 20px;
    display: inline-block;
    li {
      display: inline-block;
    }
  }

  @include max-screen($desktop - 1px) {
    display: none;
  }
}

.work-detail--show-more-button {
  @include button($white);
  font-family: $header-font;
  text-transform: uppercase;
  color: $melrose;

  .icon {
    fill: $melrose;
    margin-left: 0px;
    margin-right: 5px;
  }
}

.work-detail--action-buttons {
  margin-top: 1em;
  margin-left: -1em;
}

.work-detail--button-wrapper {
  width: 50%;
  padding-left: 1em;
  padding-bottom: 1em;
  display: inline-block;
  @include max-screen(500px) {
    width: 100%;
  }
  @include screen($desktop, 900px){
    width: 100%;
  }
  .at-icon {
    position: relative;
    top: -2px;
    margin-right: 10px;
  }
  .button-text {
    display: inline-block;
    text-align: left;
  }
}
