@import 'tools';

.work-detail {

  h1, h2, h3, h4, h5, h6, p {
    font-family: $body-font;
    text-transform: none;
    margin: 0px;
    color: black;
  }

  .work-detail--title {
    overflow: hidden;
  }

  .work-detail--title-series {
    font-size: 1.0rem;
    display: block;
    cursor: pointer;
    a {
      color: $gray;
      &:hover {
        color: $dark;
      }
    }
  }

  .work-detail--subheader {
    font-size: 0.8rem;
  }

  @include min-screen($desktop) {
    @include container();
  }

  @include max-screen($desktop - 1px) {
    margin: 0px 15px 0px 15px;
  }

  padding-bottom: 30px;

}

.work-detail--description {
  margin-top: 15px;
}

.work-detail--worktype-icon {
  position: absolute;
  fill: $melrose;

  @include min-screen($desktop) {
    top: 5px;
    left: -60px;
  }

  @include max-screen($desktop - 1px) {
    top: -40px;
    left: 0px;
  }
}

.work-detail--main {
  @include min-screen($desktop) {
    position: relative;
    left: 100px;
    max-width: 50%;
    @include span(3 of 5);
  }
}

.work-detail--secondary {
  @include min-screen($desktop) {
    @include span(2 of 5 last);
  }
}

.work-detail--large-cover {

  @include max-screen($desktop - 1px) {
    display: none;
  }

  @include min-screen($desktop) {

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 20px;

    img {
      box-shadow: 5px 5px 10px darkgray;
      width: 190px;
    }
  }
}

.work-detail--material-types {

  @include min-screen($desktop) {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 20px;
    display: inline-block;
    li {
      display: inline-block;
    }
  }

  @include max-screen($desktop - 1px) {
    display: none;
  }
}

.work-detail--show-more-button {
  @include button($white);
  font-family: $header-font;
  text-transform: uppercase;
  color: $melrose;

  .icon {
    fill: $melrose;
    margin-left: 0px;
    margin-right: 5px;
  }
}

.work-detail--action-buttons {
  margin-top: 20px;
}

.work-detail--order-button {
  @include button($lima, white, false, #73f175);
  margin-right: 10px;
  @include max-screen($tablet - 1px) {
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
}
