
.review-explorer--main-content {
  h2 {
    margin-top: 1.25em;
    margin-bottom: 0.25em;
  }
}
.review-explorer--spinner {
  text-align: center;
}
.review-explorer--main-content {
  margin: 1em;
}
.review-explorer--error {
  text-align: center;
  margin: 50px 0;
  div {
    display: inline-block;
  }
}
