@import 'tools';

.review-explorer-navigation--wrapper {
  background-image: url("/images/topbanner-baggrund_v2.jpg");
  background-size: cover;
  background-color: gray;
  text-align: left;
  @include min-screen($tablet) {
    text-align: center;
  }

}
.review-explorer-navigation {
  padding: 20px;
  color: white;
  font-size: 20px;
  display:inline-block;

  &--row {

    @include min-screen($tablet) {
      float: left;
      font-size: 22px;
    }
  }

  &--dropdown {
    background: transparent;
    color: white;
    border: white 1px solid;
    border-radius: 4px;
    padding: 3px 10px 3px 10px;
    margin: 0.4em;
    font-size: 20px;
    -webkit-appearance: none;
  	-moz-appearance: none;
  	-o-appearance: none;
  	appearance: none;
    outline: none;

    background-image: url("/images/pil-til-select-box.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 12px;
    option {
      color: black;
    }
    @include min-screen($tablet) {
      font-size: 22px;
    }
  }

  select::-ms-expand {
    background: none; /* remove blue background on ie10/ie11 when selected*/
    display: none;
  }
  select:focus::-ms-value {
    background: none;
    color: green;
  }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &--dropdown:active, &--dropdown:hover, &--dropdown:focus {
    background: white;
    color: green;
    option {
      color: black;
    }
  }
}
