@import 'tools';

.review-row {
  @include span(24);
  border-bottom: 3px solid #e7e7ef;
  padding: 1em 10px;
  min-height: 80px;
  height: auto;

  &:first-child {
    border-top: 3px solid #e7e7ef;
  }

  &--cover-image {
    @include span(3);
    vertical-align:top;
    margin: 0;
    box-shadow: 2px 2px 10px $gray;

    @include min-screen($tablet) {
      @include span(1.2);
    }

  }
  &--work-title {
    @include span(18);
    vertical-align:top;
    margin: 0;
    margin-top: -0.3em;
    padding-left: 15px;
    h4 {
      padding:0;
      margin: 0;
    }
    p {
      padding: 0;
      margin: 0;
      color: $gray;
      font-size: 16px;
    }

    @include min-screen($tablet) {
      @include span(6);
    }
  }
  &-mobile--campaign-image {
    @include span(3);
    vertical-align:top;
    margin: 0;

    @include min-screen($tablet) {
      @include span(0);
      display: none;
    }

    img {
      @include span(24);
    }
  }

  &-desktop--campaign-image {
    @include span(0);
    display: none;

    @include min-screen($tablet) {
      width: span(1);
      display: inherit;
    }
    img {
      @include span(24);
    }
  }

  &--review-text {
    @include span(24);
    padding-top: 5px;

    @include min-screen($tablet) {
      @include span(12);
      padding-top: 0px;
    }

    a {
      color: black;
    }
  }

  &-mobile--review-image {
    margin-top: 5px;
    img {
      max-width: 80px;
      max-height: 80px;
    }
    @include min-screen($tablet) {
      @include span(0);
      display: none;
    }
  }

  &-desktop--review-image {
    @include span(0);
    display: none;
    img {
      max-width: 120px;
      max-height: 120px;
    }
    @include min-screen($tablet) {
      display: inline-block;;
    }
  }

  &-desktop--review-video {
    @include span(0);
    display: none;
    @include min-screen($tablet) {
      display: inline-block;
    }
    img {
      @include span(24);
    }
  }

  &-mobile--review-video {
    margin-top: 5px;

    @include min-screen($tablet) {
      display: none;
    }
  }

  .video-thumbnail {
    position: relative;
    margin-right: 0.5em;
    img {
      width: 180px;
      height: 102px;
    }
    .overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 180px;
      height: 102px;
    }
  }

  &-mobile--rating {
    @include span(9);
    margin-top: 7px;
    @include min-screen($tablet) {
      @include span(0);
      display: none;
    }
  }

  &-desktop--rating {
    display: none;
    @include min-screen($tablet) {
      display: block;
    }
  }
  .rating {
    cursor: default;
  }

  &-mobile--owner-image {
    @include span(2);
    position: relative;
    height: 45px;
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: -20px;

    a {
      @extend %widget-profileimage;
      height: 25px;
      width: 25px;
      border-width: 1px;
      img {
        height: 25px;
        width: 25px;
      }
    }

    @include min-screen($tablet) {
      @include span(0);
      display: none;
    }
  }

  &-desktop--owner-image {
    @include span(0);
    display: none;
    position: relative;
    height: 45px;
    margin-top: 10px;
    margin-bottom: -20px;

    a {
      @extend %widget-profileimage;
      height: 25px;
      width: 25px;
      border-width: 1px;
      img {
        height: 25px;
        width: 25px;
      }
    }

    @include min-screen($tablet) {
      @include span(1);
      display: inherit;
    }
  }

  &--likebutton {
    @include span(12);
    margin-top: 10px;
    @include min-screen($tablet) {
      @include span(2);
      margin: 0;
      margin-left: 20px;
    }
  }

}
