@import 'tools';

.article {
  padding: 1em;
  @include container();
  img {
    width: 100%;
  }
}

.article-header {
  margin-bottom: 40px;
}

.article-main {

  @include min-screen($tablet) {
    @include span(3 of 5);
  }
  @include max-screen($tablet - 1px) {
    @include span(5 of 5);
  }
}

.article-factbox {

  background: $soft-purple;
  padding: 1em;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;

  @include min-screen($tablet) {
    @include span(last 2 of 5);
  }
  @include max-screen($tablet - 1px) {
    @include span(5 of 5);
  }
}
