@import 'tools';

.show-more-button--container {
  .show-more-button {
    border: $athens-gray solid 1px;
    border-radius: 2px;
    padding: 7px;
    align-content: center;
    font-family: $header-font;
    display: inline-block;
    cursor: pointer;

    svg {
      fill: currentColor;
    }
  }

  margin: 12px;
  overflow: hidden;
  text-align: center;
}
