@import 'tools';

/**
* @file
* Styling of Reviews container on frontpage.
*
*/

.compact-review--container {
  background-color: $white;
  height: 210px;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;

  .compact-review--review-author {
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1em;
    font-size: 0.8em;
    line-height: 0.8em;
    font-weight: 600;
    width: 100%;
    flex-shrink: 0;

    .twemoji {
      width: 1em;
    }
  }

  .compact-review--artwork--container {
    position: relative;
    height: 145px;
    width: 33%;
    max-width: 180px;
    flex-shrink: 0;
    margin-right: 1em;
  }

  .compact-video-review--container {
    position: relative;
  }

  .compact-review--cover-image {
    max-width: 100%;
    max-height: 100%;
  }

  .compact-review--review-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 145px;

    .rating {
      cursor: default;
    }
  }

  .compact-review--review-content--content {
    flex-grow: 1;
    a {
      vertical-align: middle;
    }
  }

  .compact-review-element--text-excerpt {
    font-weight: 600;
    color: $black;
    word-break: normal;
    font-size: 1em;
  }

  .compact-review-worktype-icon--container {
    display: inline-block;
    vertical-align: middle;
  }

  .compact-review-worktype-icon {
    fill: $governor-bay;
    padding: 4px;
  }

  .compact-review--owner-image--container {
    @extend %widget-profileimage;
  }

  .compact-review--video--container {
    position: relative;
    width: 100%;
    height: 110px;
    display: block;
    margin-bottom: 5px;

    img {
      width: 200px;
      height: 110px;
      object-fit: cover;
      background: url('/video_behandler.png') no-repeat center 0;
      background-size: cover;
    }

    .after {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 110px;
      color: $white;
      background: url('/images/video_thumbnail_overlay.png') no-repeat center 0;
      background-size: cover;
    }
  }

  .compact-video-review--artwork-container {
    position: relative;
  }
}
