@import 'tools';

.compact-review--container--container {
  margin-bottom: 30px;
  padding-bottom: 20px;
  @include min-screen($tablet) {
    @include gallery(1 of 2);
  }
  @include min-screen($desktop) {
    @include gallery(1 of 3);
  }
}

.compact-review--container {
  background-color: #ffffff;
  padding: 0 10px;
  height: 185px;
  white-space: normal;
  padding-bottom: 30px;
  position: relative;
  word-break:break-all;
  margin: 10px;

  .rating {
    font-size: 14px;
    position: absolute;
    bottom: 14px;
    left: 128px;
  }

  .compact-review-worktype-icon {
    fill: #4740b7;
    display: inline;
    padding: 2px;
    margin: 0 5px;
    border: 1px solid #e6e6eds
  }

  .compact-review-element--text-excerpt {
    display: inline;
    font-size: 12pt;
    font-weight: 600px;
    color: #000;
  }

  .compact-review-element--text-excerpt:before, .compact-review-element--text-excerpt:after {
    content: '"';
  }

  .compact-review--review-content {
    vertical-align: top;
  }

  .compact-review--artwork--container {
    position: relative;
  }

  .compact-review--cover-image {
    width: 100px;
    margin: 0 8px;
  }

  .compact-review--owner-image--container {
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10;
  }

  .compact-review--video--container {
    position: relative;
    width: 172px;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;

    img {
      width: 172px;
      object-fit: cover;
      background: url('/video_behandler.png') no-repeat center 0;
      background-size: cover;
    }

    .after {
      position: absolute;
      top: 0;
      left: 0;
      width: 172px;
      color: #FFF;
      background: url('/images/video_thumbnail_overlay.png') no-repeat center 0;
      background-size: cover;
    }
  }

  .compact-video-review--artwork-container {
    position: relative;
  }

  .compact-review--review-author {
    font-size: 15pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
