.compact-review--container--container {
  display: inline-flex;
}

.compact-review--container {
  background-color: #ffffff;
  max-width: 285px;
  padding: 0 10px;
  margin: 10px;
  display: inline;
  word-break:break-all;
  white-space: normal;

  .compact-review-worktype-icon {
    fill: #4740b7;
    display: inline;
    padding: 2px;
    margin: 0 5px;
    border: 1px solid #e6e6e6;
  }

  .compact-review-element--text-excerpt {
    display: inline;
    font-size: 17pt;
    font-weight: 600;
    color: #000;
  }

  .compact-review--review-content {
    vertical-align: top;
  }

  .compact-review--artwork--container {
    position: relative;
  }

  .compact-review--cover-image {
    width: 100px;
    margin: 0 5px;
  }

  .compact-review--owner-image--container {
    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #fff;
    }

    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 10;
  }

  .compact-review--container--video-review--rating--container {
    .rating {
      display: inline-flex;
      margin: 4px;
      vertical-align: top;
    }
  }

  .compact-review--video--container {
    position: relative;
    width: 180px;
    height: 98px;
    display: block;
    margin-bottom: 5px;

    img {
      width: 180px;
      height: 98px;
      object-fit: cover;
      background: url('/video_behandler.png') no-repeat center 0;
      background-size: cover;
    }

    .after {
      position: absolute;
      top: 0;
      left: 0;
      width: 180px;
      height: 98px;
      color: #FFF;
      background: url('/images/video_thumbnail_overlay.png') no-repeat center 0;
      background-size: cover;
    }
  }

  .compact-video-review--artwork-container {
    position: relative;
  }

  .compact-review--review-author {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
