@import 'tools';

.latest-reviews-widget--reviews-container {
  .pages--container {
    @extend %content-grid;
    & > * {
      max-width: 50%;
    }
    @include min-screen($tablet) {
      margin-bottom: 2em;
      &.closed {
        height: 210px;
        overflow: hidden;
      }
    }
    @extend %scroller;
  }
}
