@import "tools";

.latest-reviews-widget--reviews-container {
  background-color: #e2e0f7;
  padding: 30px;
  @include container();
}

.latest-reviews-widget--reviews-container.closed {
  height: 250px;
  overflow: hidden;
  @include container();
}

.latest-reviews-widget--widget-title--and--show-more-button--container {
  a {
    margin: 10px;
    display: block;
    @include min-screen($tablet) {
      float: right;
      margin: 20px;
    }
    cursor: pointer;
    font-family: $header-font;
    color: #000000;
  }

  h2 {
    display: inline-block;
  }

  .icon {
    fill: #938ee9;
  }
}
