@import 'tools';
@import 'settings';

.content-add {
  textarea {
    overflow:hidden;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    min-height: 100px;
  }

}

.content-input-wrapper {
  background-color: white;
  padding: 5px 20px;
  border: #ccc 1px solid;
  .preview-image img {
    max-width: 100px;
    max-height: 100px;
  }
}



.upload-content-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.content-add--actions {
  margin-top: 10px;
  .button {
    float: right;
    &.submit {
      @include button($melrose);
    }
    &.alert {
      @include button($carnation);
      margin-right: 10px;
    }
  }
}

.content-add--image {
  label {
    @include button($athens-gray, $melrose, false);
    border: 1px solid #ccc;
  }
  svg {
    padding-right: 10px;
    position: relative;
    display: inline-block;
    top: 2px;
  }
}
