@import 'tools';

.colored-header {
  display: flex;
  background-color: $turquoise;

  .colored-header--iconcontainer {
    flex-shrink: 1;
    max-width: calc(100%/6);
    margin-right: 1em;
    @include max-screen($tablet) {
      display: none;
    }

    img, .icon {
      fill: $white
    }
  }
  .colored-header--description {
    flex-grow: 1;
    color: $white;
    align-content: center;
    .colored-header--text {
      h2 {
        margin: 0;
        margin-bottom: 0.5em;
        color: $white;
      }
      max-width: 600px;
    }
  }
}

.widget--title--generic.ColoredHeaderWidget {
  display: none;
}
