@import 'tools';

.colored-header {
  @include clearfix();
  background-color: $turquoise;
  padding-bottom: 20px;

  .colored-header--iconcontainer {
    @include span(4);
    @include max-screen($tablet) {
      display: none;
    }

    align-content: center;
    img, .icon {
      padding-top: 20px;
      padding-left: 20px;
      fill: $white
    }
  }
  .colored-header--description {
    @include span(20 last);

    @include min-screen($tablet) {
      @include span(19);
    }

    color: $white;
    align-content: center;
    font-size: 14px;
    .colored-header--text {
      h2 {
        color: $white;
      }
      width: 80%;
    }
  }
}
