/**
* @file Names of all colors
* Colors are named by following service: http://chir.ag/projects/name-that-color/#6195ED
*/
$governor-bay: #4740b7;
$melrose: #938EE9;
$melrose-hover: #ABA6FF;
$carnation: #F35065;
$turquoise: #38CEB6;
$lima: #1bca1b;
$light-grayish-cyan: #cef2ec;
$athens-gray: #eeeeee;
$white: #ffffff;
$soft-blue: #afdaf9;
$soft-purple: #e8e7fb;

$black: #000;
$dark: #3a3a3a;
$gray: #868686;
$light-gray: #CCC;
$light-blueish-gray: #DCDCE6;
