$margin: 40px;

/**
* Suzy configuration
* @see http://susydocs.oddbird.net/en/latest/settings/#global-defaults
*/
$susy: (
  container: 1024px,
  columns: 24,  // The number of columns in your grid
  gutters: .25, // The size of a gutter in relation to a single column
  math: fluid,
  debug: (
    image: hide,
    color: #c6ccff,
    output: background,
    toggle: top right,
  ),
);
