@import 'tools';


.material-result-list {
  list-style: none;

  @include container();

  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;

  li {
    @include gallery(1 of 5);
    margin-bottom: 20px;

    .material-result-list--cover-image {

      min-height: 250px;
      position: relative;

      img {
        position: absolute;
        bottom: 10px;
        width: 100%;
        max-height:250px;
      }
    }

    .material-result-list--description {

      overflow: hidden;

      .icon--container {
        position: absolute !important;
      }

      .material-result-list--title {
        margin-left: 24px;
      }
    }
  }
}

.material-result-list--empty-result {
  padding: 50px 10px 50px 10px;
  min-height: 40vh;
  text-align: center;
}
