@import 'tools';

.material-result-list {
  list-style: none;
  margin: 0px;
  padding: 20px;
  display: inline-block;

  li {
    display:inline-block;
    margin-left: 50px;
    margin-bottom: 50px;
  }
}
