.back-button {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 2em;
  width: 2em;
  background-color: #FFF;
  margin: 10px;
  display: block;
}

.back-button--arrow-container {
  position: relative;
  height: 2em;
  max-height: 2em;
  width: 2em;
  max-width: 2em;
  top: 0.5em;
  left: 0.5em;
}

.back-button--arrow {
  border: solid #AFAFAF;
  border-width: 0 .2em .2em 0;
  display: inline-block;
  padding: 0.1em;
  transform:rotate(135deg);
  height: 40%;
  width: 40%;
  border-radius: 3px;
}

.back-button--alt-text {
  font-size: 0;
}
