.droppable-image-field {
  img {
    max-width: 200px;
  }

  label {
    display: block;
    text-align: center;

    .image-and-plus-button-container {
      position: relative;
      display: inline-block;
      margin: auto;
    }

    .upload-plus-button {
      position: absolute;
      bottom: -3px;
      right: -3px;
      border: solid;
      border-radius: 10%;
      width: 25px;
      height: 25px;
      background-image: url(http://uxrepo.com/download.php?img=static/icon-sets/foundation/svg/fi-plus.svg&color=000000);
      background-size: 25px;
      background-color: white;
    }

    .droppable-image-field--file-input {
      display: none;
    }
  }
}

#drop-files-here-message {
  display: none;
}

#drop-files-here-message.hover {
  display: block;
}

#filereader-fallback-message {
  display: none;
}

#filereader-fallback-message.uploaded {
  display: block;
}
