.work-header {
  width: 100%;
  position: relative;
  text-align: center;
  height: 300px;
  overflow: hidden;
}

.work-header--background-image {
  width: 100%;
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) grayscale(30%);
  box-shadow: 20px -11px 0 white inset, -20px 0px 0px 0 white inset;
  overflow: hidden;
  position: absolute;
  background-position: 50%;
}

.work-header--foreground-image {
  width: 150px;

  img {
    width: 150px;
    box-shadow: #999 0 5px 10px;
    object-fit: cover;
  }

  position: relative;
  top: 20px;
  margin: auto;
  display: inline-block;
}
