.work-header {
  width: 100%;
  position: relative;
  text-align: center;
  height: 300px;
  overflow: hidden;
}

.work-header--background-image{
  width: 104%;
  height: 210px;
  top: -10px;
  left: -2%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) grayscale(30%);
  overflow: hidden;
  position: absolute;
  background-position: 50%;
}

.work-header--foreground-image {
  width: 150px;

  img {
    width: 150px;
    box-shadow: #999 0px 5px 10px;
    object-fit: cover;
  }
  position: relative;
  top: 40px;
  margin: auto;
  display: inline-block;
}
