%widescreen {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
  overflow: hidden;
  iframe, object, embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

%square {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  margin-bottom: 0.5em;
  iframe, object, embed, img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
