@import 'tools';

.activity-row--container {
  .activity-row {
    @include clearfix;
    padding-left: 20px;
    @include min-screen($tablet) {
      padding-left: 30px;
    }
    padding-right: 10px;

    .activity-row--title {
      display: inline-block;
      padding-bottom: 5px;

      h3 {
        display: inline;
      }

      .activity-row--date {
        color: #c9c9c9;
      }
    }

    .activity-row--image {
     @include min-screen($tablet) {
       @include span(5 of 24);
     }

      max-width: 200px;

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    .activity-row--children {
      @include span(18 of 24);
      margin: 10px;
      padding: 5px;
    }

    .activity-row--children--no-image {
      @include span(23 of 24);
    }

    .activity-row--like-answer {
      @include span(23 of 24);

      .activity-row--like-answer--likes {
        svg {
          fill: #f35065;
          color: #f35065;
        }
      }

      .rounded-button--compact {
        background-color: #938ee9;
        margin-left: 5px;
        margin-right: 5px;

        .rounded-button--back--svg {
          fill: white;
          color: white;
        }
      }

      .rounded-button--compact:hover {
        background-color: lighten(#938ee9, 5%);
        border-color: #938ee9;
      }
    }
  }
}
