@import 'tools';

.p-detail--badge-container {
  background: linear-gradient(180deg, #d784e7 70%, $white 30%);
  height: 400px;
  padding: 0px;
  display: block;
}

.p-detail--diploma-container--wrapper {
  display:  inline-block;
  height: 300px;
  @include min-screen($desktop) {
    width: 50%;
  }
}

.p-detail--diploma-container {
   padding: 20px;
   max-width: 100%;

  @include min-screen($desktop) {
     height: 300px;
     direction: rtl;
     padding-right: 100px;
  }
}

.p-detail--campaign-diploma {
  position: relative;
  padding: 10px;
  max-height: 80px;
  max-width: 80px;
  top: 60%;
  right: 10px;

  /* make the entire diploma clickable */
  a {
    display: inline-block;
  }

  img {
    filter: drop-shadow(2px 2px 0 white)
    drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);
  }
}

/* for desktop display  - see separate rule for phone */
.p-detail--groups-buttons--container {
  height: 300px;
  display: none;
  @include min-screen($desktop) {
    display: inline-block;
    margin: 0 auto;
    margin-left: 60px;
    position: relative;
    top: 155px;
    left: 70px;
  }

}

.p-detail--groups-button {
  @include button($white, $melrose);
  display:block;

  p {
    margin: 0px;
  }
}

.p-detail--groups-button:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.p-detail--image-container {
  height: 0px;
  img {
    position: relative;
    top: -275px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: drop-shadow(5px 5px 5px #222);
  }
}

.p-detail--displayname-description-follow {
  align-content: center;
  text-align: center;
  p {
    margin: 5px;
    font-family: $body-font;
    font-weight: 600;
  }
}

.p-detail--displayname {
  font-size: 16pt;
  display: inline;
}

.p-detail--edit-button {
  display: inline-block;
  .icon {
    pointer-events: none;
  }
}

.p-detail--groups-buttons--phone-container {
  display: none;
  position: relative;
}

.p-detail--groups-buttons--phone-container, .p-detail--flag-button--container {
  @include max-screen($desktop) {
    @include button($white, $melrose);
    padding: 0px;
  }
}

.p-detail--report-container {
  margin: 10px;
  margin-bottom: 0;

  .p-detail--report-anchor {
    display: inline-flex;
    border: #f2f2f2 solid 2px;
    border-radius: 5px;
    padding: 8px 15px;
  }

  .p-detail--report-anchor:hover {
    background-color: #f2f2f2;
  }
}

.groups-modal--container {
  @include clearfix;
  text-align: center;
}

.user-feed--groups-modal--group-image {
  object-fit: cover;
  width: 190px;
  height: 190px;
  max-width: 190px;
}

.user-feed--groups-modal--group-name {
  overflow: hidden;
  line-height: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-feed--groups-modal--group {
  padding-top: 10px;
  display: inline-block;
  width: 190px;
  margin: 5px;
  position: relative;

  .follow {
    padding: 8px 20px;
  }
}

.p-detail--total-posts-since-last, .groups-modal--posts-since-last {
  position: absolute;
  font-size: .7em;
  text-align: center;
  color: #fff;
  background-color: #ff5a5f;
  border-radius: 25%;
  box-shadow: 0 0 3px 1px #ff5a5f;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  padding: 2px 2px 2px 4px;
}
