@import 'tools';

.p-detail--badge-container {
  background: linear-gradient(180deg, #d784e7 82%, $white 30%);
  height: 300px;
  padding: 0;
  display: block;

  @include max-screen($desktop - 1) {
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  @include min-screen($desktop) {
    padding-top: 65px;
  }
}

/* campaign diplomas */
.p-detail--diploma-wrapper {
  display: inline-block;
  @include min-screen($desktop) {
    width: 50%;
  }
}

.p-detail--diploma-container {
  @include max-screen($desktop - 1) {
    width: auto;
    height: 65px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  @include min-screen($desktop) {
    padding-right: 120px;
  }
}

.p-detail--diploma {
  position: relative;
  max-height: 50px;
  max-width: 50px;
  float: right;
  margin: 10px;

  @include min-screen($desktop) {
    max-height: 60px;
    max-width: 60px;
  }

  a {
    display: inline-block;
  }

  img {
    filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
    max-height: 50px;
    max-width: 50px;

    @include min-screen($desktop) {
      max-height: 60px;
      max-width: 60px;
    }
  }
}

.p--detail--campaign-row {
  width: auto;
  display: inline-block;
  vertical-align: middle;

  @include min-screen($desktop) {
    &:nth-of-type(1n+3) {
      display: none;
    }

    display: block;
    width: 300px;
    float: right;
  }
}

.p--detail--campaign-row.singular {
  @include min-screen($desktop) {
    margin-top: 90px;
  }
}

.show-more-campaigns--button {
  color: $white;
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: #d784e7;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  padding-top: 20px;

  @include min-screen($desktop) {
    margin-top: 85px;
    margin-right: calc(50% + 125px);
    display: inline-block;
  }
}

.all-campaigns--campaign-row {
  padding: 10px;

  img {
    margin-right: 10px;
    vertical-align: middle;
  }

  &:nth-of-type(even) {
    background-color: $light-blueish-gray;
  }
}

.campaign-row--inner {
}

.campaign-row--inner--text {
  display: inline-block;
  vertical-align: middle;
}

/* buttons (e.g : group button) */
.p-detail--buttons-wrapper {
  display: none;
  @include min-screen($desktop) {
    display: inline-block;
  }
}

.p-detail--buttons-container {
  @include min-screen($desktop) {
    top: -20px;
    padding-left: 120px;
    position: relative;
  }
}

.p-detail--buttons-container--mobile {
  position: relative;
  display: inline-block;
  @include min-screen($desktop) {
    display: none;
  }
}

.p-detail--group-button {
  @include button($white, $governor-bay);
  @include max-screen($tablet - 1px) {
    padding: 25px 25px 10px;
  }
  filter: drop-shadow(2px 2px 5px #666);
  svg {
    margin-right: 0;
  }
  padding: 25px 25px 10px;
  text-align: center;
}

.p-detail--button:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.p-detail--total-posts-since-last, .groups-modal--posts-since-last {
  @include bubble($governor-bay);
  position: absolute;
  color: white;
  font-size: .7em;
}

.p-detail--total-posts-since-last {
  top: 5px;
  right: 5px;
}

.groups-modal--posts-since-last {
  top: -5px;
  right: -5px;
}

/* profile details */
.p-detail--image-container {
  height: 0px;

  .p-detail--image-crop {
    position: relative;
    top: -225px;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
      filter: drop-shadow(2px 2px 5px #666);
    }
  }
}

.p-detail--displayname-description-follow {
  align-content: center;
  text-align: center;
  p {
    margin: 5px;
    font-family: $body-font;
    font-weight: 600;
  }
}

.p-detail--displayname {
  font-size: 16pt;
  display: inline;
}

.p-detail--edit-button {
  display: inline-block;
  .icon {
    pointer-events: none;
  }
}

.p-detail--report-container {
  margin: 10px;
  margin-bottom: 0;

  .p-detail--report-anchor {
    display: inline-flex;
    border: #f2f2f2 solid 2px;
    border-radius: 5px;
    padding: 8px 15px;
  }

  .p-detail--report-anchor:hover {
    background-color: #f2f2f2;
  }
}

.groups-modal--container {
  @include clearfix;
  text-align: center;
}

.groups-modal--group {
  display: inline-block;
  width: 190px;
  margin: 5px;
  position: relative;

  .follow {
    padding: 8px 20px;
  }
  .group--tile {
    margin-bottom: 1em;
  }
}


