@import "tools";

.review--container {
  border-bottom: #e8e8e8 5px solid;
}

.review--header {
  padding: 10px;

  @include min-screen($tablet) {
    width: 45%;
    display: inline-block;
  }
}

.review--material--cover {
  display: inline-block;
  vertical-align: top;
  width: 25%;

  img {
    max-width: 100%;
  }
}

.review--data {
  display: inline-block;
  margin-left: 10px;
  width: 71%;

  @include min-screen($desktop) {
    margin-left: 10px;
  }
}

.review--data--profilepic {
  @include profileImage();

  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 10px 0;
}

.review--data--username {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
}

.review--data--material-title {
  display: block;
  font-weight: bold;
}

.review--content {
  padding: 0 10px 10px 10px;
  vertical-align: top;

  @include min-screen($tablet) {
    display: inline-block;
    padding: 10px 10px 10px 0;
    width: 50%;
  }
}
