@import 'tools';

.lists {
  padding-top: 5px;
  padding-left: 5px;
  @include min-screen($phone) {
    padding-left: 5px;
  }

  @include min-screen($tablet) {
    padding-left: 20px;
  }

  padding-right: 1px;
}

.emoji {
  width: 24px;
}
