@import 'tools';

.review--wrapper {
  @include clearfix();
  margin-bottom: 20px;
  @include max-screen($tablet - 1px) {
    padding: 0 20px;
    border-bottom: 5px solid rgba($dark, 0.15);
  }
}

video {
  background-color: $dark;
  max-width: 100%;
}


.review--youtube-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.review--youtube-container iframe, .review--youtube-container object, .review--youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.review {
  position: relative;

  @include min-screen($tablet) {
    margin-left: 100px;
    top: 0;
    background: #eee;
    padding: 20px;
    border-radius: 5px;
  }
  @include screen($tablet, $desktop) {
    margin-right: 20px;
  }
  @include max-screen($tablet - 1px) {
    padding-bottom: 20px;
    .review--header {
      margin-left: 75px;
      height: 60px;
      span {
        padding: 0;
        display: block;
      }
    }
  }

  p {
    margin-top: 0;
    word-wrap: break-word;
  }

  img {
    max-width: 100%;
  }
  video {
    background-color: $dark;
    max-width: 100%;
  }

  .is-hidden {
    display: none;
  }

  .add-content--input {
    border: none;
    border-radius: 5px;
  }
}

.review::before {
  @include min-screen($tablet) {
    top: 15px;
    bottom: auto;
    left: -15px;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee;
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
  }
}

.review--add-comment-button {
  @include button($melrose);
}

.review--header {
  margin-bottom: 20px;
  .username {
    @extend %h3-body;
  }
  .time {
    color: $gray;
    display: inline;
    padding-left: 10px;
  }
  .logo {
    position: absolute;
    height: 25px;
    margin-top: 0px;
    @include max-screen($desktop) {
      top: 15px;
      right: 50px;
    }
    @include min-screen($desktop) {
      padding-left: 10px;
      height: 30px;
      margin-top: -15px;
    }
  }
  .buttons {
    position: absolute;
    top: 20px;
    right: 10px;
    svg {
      fill: $gray;
    }
    .active svg {
      fill: $melrose;
    }
  }
}

.review--content-wrapper {
  margin-bottom: 20px;
}

.review--profile-image {
  @include profileImage();
  float: left;
  @include min-screen($tablet) {
    margin-left: 20px;
  }
}

.review-add {
  margin-bottom: 20px;
}

.review-add--input {
  background-color: white;
  padding: 5px 20px;
  border: $light-gray 1px solid;
}

.review-add--textarea {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border: none;
  min-height: 100px;
  outline: none;
  &::placeholder {
    color: $gray;
  }
  &:focus::placeholder {
    color: $light-gray;
  }
}

.review-add--preview-image {
  position: relative;
  display: inline-block;
  background-color: $dark;
  border: 3px solid white;
  box-shadow: 1px 1px 1px $gray;
  img {
    max-width: 100px;
    max-height: 100px;
  }

  a {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  svg {
    fill: $light-gray;
  }

  &:hover {
    filter: grayscale(80%);
    img {
      opacity: 0.5;
    }
    a {
      display: inline-block;
      &:hover svg{
        fill: $white;
      }
    }
  }
}

.review-add--upload-media {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.review-add--actions {
  margin-top: 10px;
  .button {
    float: right;
    &.submit {
      @include button($melrose);
    }
    &.alert {
      @include button($carnation);
      margin-right: 10px;
    }
    &.delete {
      @include button($carnation);
      margin-right: 10px;
    }
  }
}

.review-video--name {
  font-size: 14px;
}

progress[value] {
  width: 100%;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  &::-moz-progress-bar {
    background-color: #6085c5;
  }

  &::-webkit-progress-value {
    background-color: #6085c5;
    //background-color: #5FC55F;
  }

  &.done {
    &::-moz-progress-bar {
      background-color: #5FC55F;
    }

    &::-webkit-progress-value {
      background-color: #5FC55F;
    }
  }

  &.error {
    &::-moz-progress-bar {
      background-color: #c52f3e;
    }

    &::-webkit-progress-value {
      background-color: #c52f3e;
    }
  }
}

.review-add--media {
  label {
    @include button($athens-gray, $melrose, false);
    border: 1px solid $light-gray;
  }
  svg {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    top: 2px;
  }
}

.review-add--media-label {
  pointer-events: none;
  @include max-screen($desktop - 1px) {
    display: none;
  }
}

.review-add--messages {
  opacity: 0;
  @include single-transition(opacity, 500ms, null, null);
  &.fadein {
    opacity: 1;
  }
}
