@import 'tools';


.review-button {
  @include button();
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
}

.modal-window--review-button {
  @include button($lima);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 30px 0 0 0;
}
