@import 'tools';
.review-list {
  h1, h2, h3, h4, h5, h6, p {
    font-family: $body-font;
    text-transform: none;
    color: black;
  }

  .reviewsCount {
    border-bottom: $light-blueish-gray 1px solid;
    color: black;
    font-family: $body-font;
    font-size: 1.155em;
  }

  .review-list--header {
    margin-top: 20px;
  }
}

.reviews--showmore-container {
  a {
    float: right;
    cursor: pointer;
    font-family: $header-font;
    color: $black;
    margin: 20px;
  }

  h2 {
    display: inline-block;
  }

  .icon {
    fill: #938ee9;
  }
}
