@import "tools";
@import "settings";

.modal-window--overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color:rgba(0,0,0, 0.5);
  z-index: 200;
  width: 100vw;
  height: 100vh;
}

.modal-window--window {
  $padding: 10px;
  padding: 10px $padding $padding $padding;
  position: fixed;
  background: white;
  z-index: 201;
  border-radius: $padding;
  max-height: 80vh;
  width: 90vw;
  left: 3vw;
  top: 5vh;

  @include min-screen($tablet + 1) {
    top: 10vh;
    left: 30vw;
    width: 40vw;
  }
}

.modal-window--content {
  background-color: white;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-window--close-button {
  float: right;
}

.modal-window--close-button--container {
  top: 10px;
  right: 12px;
  position: absolute;
  cursor: pointer;
}
