@import 'tools';

.modal-window--overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0, 0.8);
  z-index: 200;
  width: 100vw;
  height: 100vh;
}

.modal-window--window {
  position: fixed;
  z-index: 201;
  max-height: 75vh;
  width: 90vw;
  left: 3vw;
  top: 5vh;

  @include min-screen($tablet + 1) {
    left: 50%;
    transform: translate(-50%, 0);
    width: 630px;
  }
}

.modal-window--content-container {
  border: 2px solid #b6b6b6;
  background: white;
  $padding: 10px;
  padding: 10px $padding $padding $padding;
}

.modal-window--content {
  background-color: white;
  max-height: 75vh;
  overflow-y: auto;
  display: inline-block;
  width: 100%;
}

.modal-window--close-button {
  float: right;
  margin-bottom: 10px;
}

.modal-window--close-button--container {
  cursor: pointer;
}

.modal-window--overhead-title h2 {
  color: white !important;
  text-align: center;
  bottom: 0;
  margin-bottom: 10px !important;
  font-size: 20pt;
  font-weight: 500;
}
