@import 'tools';

.group--list {
  @include container();

  padding-right: 5px;
  padding-bottom: 20px;
  h2 {
    height: 12px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    padding-left: 0;
  }
  .expand-button {
    border: 1px solid $light-gray;
    @extend %fredoka-button;
    svg {
      fill: $melrose;
    }
  }
}

.group--showmore {
  clear: both;
  @include max-screen($tablet) {
    text-align: center;
  }
}

.group--tile {

  @include min-screen($desktop) {
    @include gallery(1 of 5);
    margin-bottom: gutter(20);
    padding-bottom: 20px;

    .coverimage {
      width: 16vw;
      height: 16vw;
    }
  }

  @include max-screen($desktop - 1) {
    @include gallery(1 of 4);
    margin-bottom: gutter(15);
    padding-bottom: 15px;

    .coverimage {
      width: 18vw;
      height: 18vw;
    }
  }

  @include max-screen($tablet - 1) {
    @include gallery(1 of 3);
    margin-bottom: gutter(10);
    padding-bottom: 15px;

    .coverimage {
      width: 29vw;
      height: 29vw;
    }
  }

  @include max-screen($phone) {
    max-width: 172px;
    max-height: 172px;
    @include gallery(1 of 2);
    margin-bottom: gutter(10);
    padding-bottom: 30px;
    padding-right: 0px;
    .coverimage {
      width: 40vw;
      height: 40vw;
    }
  }
}



