@import "tools";
@import "settings";

.group--list {
  @include container();

  padding-right: 5px;
  padding-bottom: 20px;
  h2 {
    height: 12px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    padding-left: 0;
  }
  .expand-button {
    border: 1px solid $light-gray;
    @extend %fredoka-button;
    svg {
      fill: $melrose;
    }
  }
}

.group--showmore {
  clear: both;
  @include max-screen($tablet) {
    text-align: center;
  }
}

