@import 'tools';

.work-detail--series-display--edition-container {
  display: inline-block;
  margin: 10px;

  a {
    display: inline-table;

    p {
      font-weight: 600;
      color: $black;
      margin: 0;
      text-align: center;
      max-width: 90px;
    }

    img {
      max-width: 90px;
    }
  }
}
