@import 'tools';

.more-info {
  margin-bottom: 50px;

  .buttons {
    text-align: center;

    .show-more--button {
      @include more-button();
      margin: 2px;
      padding: 6px 10px;

      svg {
        margin-right: 4px;
      }
    }

    .close--button {
      @include more-button();
      margin: 2px;
      padding: 6px 10px;

      svg {
        margin-right: 4px;
      }
    }
  }
}
