//- error.jade
extends layout

block append styles
  link(rel='stylesheet', href='/css/error.css')

block append footerscripts
  script(src='/js/error.js' defer=true)
  script(id='JSONDATA', type='application/json') !{errorData}

block prepend body
  #content
